<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<center><h1>Link Created Successfully</h1></center>
<center><p>Your Link is at <b><a href="<%=link%>" target="_blank" style="text-decoration: none"><%= link%></a> </b></p></center>
</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/success.js" type="module"></script>
<script type="text/javascript">
    let error = <%=error%>
    let msg = "<%=msg%>"
</script>
</html>